<div class="table-responsive">
    <table class="table">
        <tr [@showyear]><td class="table-title">Year</td><td>[@year]</td></tr>
        <tr [@showtype]><td class="table-title">Weapon Type</td><td>[@type]</td></tr>
        <tr [@showdesigner]><td class="table-title">Origin & Designer</td><td>[@designer]</td></tr>
        <tr [@shownumbers]><td class="table-title">Numbers Produced</td><td>[@numbers_produced]</td></tr>
        <tr [@showcrew]><td class="table-title">Crew</td><td>[@crew]</td></tr>
        <tr [@showcalibre]><td class="table-title">Calibre</td><td>[@calibre]</td></tr>
        <tr [@showelevation]><td class="table-title">Elevation</td><td>[@elevation]</td></tr>
        <tr [@showturret]><td class="table-title">Traverse</td><td>[@turret_traverse]</td></tr>
        <tr [@showbreech]><td class="table-title">Breech</td><td>[@breech]</td></tr>
        <tr [@showrecoil]><td class="table-title">Recoil</td><td>[@recoil]</td></tr>
        <tr [@showsight]><td class="table-title">Gun Sight</td><td>[@gun_sight]</td></tr>
        <tr [@showmounts]><td class="table-title">Gun Mount</td><td>[@gun_mounts]</td></tr>
        <tr [@showcarriage]><td class="table-title">Carriage</td><td>[@carriage]</td></tr>
        <tr [@showtrailers]><td class="table-title">Trailers</td><td>[@trailers]</td></tr>
        <tr [@showgunshield]><td class="table-title">Gun Shield</td><td>[@gun_shield]</td></tr>
        <tr [@showplate]><td class="table-title">Armoured Plate</td><td>[@armoured_plate]</td></tr>
        <tr [@showbarrel]><td class="table-title">Barrel Length</td><td>[@barrel_length]</td></tr>
        <tr [@showlength]><td class="table-title">Overall Length</td><td>[@length]</td></tr>
        <tr [@showwidth]><td class="table-title">Width</td><td>[@width]</td></tr>
        <tr [@showheight]><td class="table-title">Height</td><td>[@height]</td></tr>
        <tr [@showweight]><td class="table-title">Weight</td><td>[@weight]</td></tr>
        <tr [@showround]><td class="table-title">Round Weight</td><td>[@round_weight]</td></tr>
        <tr [@showvelocity]><td class="table-title">Muzzle Velocity</td><td>[@muzzle_velocity]</td></tr>
        <tr [@showfeed]><td class="table-title">Feed</td><td>[@feed]</td></tr>
        <tr [@showcapacity]><td class="table-title">Magazine Capacity</td><td>[@magazine_capacity]</td></tr>
	<tr [@showpracticalratefire]><td class="table-title">Practical Rate of Fire</td><td>[@practical_rate_of_fire]</td></tr>
        <tr [@showrateoffire]><td class="table-title">Rate of Fire</td><td>[@rate_of_fire]</td></tr>
        <tr [@showmaxrate]><td class="table-title">Maximum Rate of Fire</td><td>[@maximum_rate_of_fire]</td></tr>
        <tr [@showceiling]><td class="table-title">Maximum Ceiling</td><td>[@maximum_ceiling]</td></tr>
        <tr [@showmaxgroundrange]><td class="table-title">Maximum Ground Range</td><td>[@maximum_ground_range]</td></tr>
        <tr [@showmaxrange]><td class="table-title">Maximum Range</td><td>[@maximum_range]</td></tr>
        <tr [@showarmourpen]><td class="table-title">Armour Penetration</td><td>[@armour_penetration]</td></tr>
        <tr [@showtraction]><td class="table-title">Traction</td><td>[@traction]</td></tr>
        <tr [@showvariants]><td class="table-title">Variants</td><td>[@variants]</td></tr>
        <tr [@shownotes]><td class="table-title">Notes</td><td>[@notes]</td></tr>     
    </table>
</div>




