<div class="table-responsive">
    <table class="table">
        <tr [@showyear]><td class="table-title">Year</td><td>[@year]</td></tr>
        <tr [@showtype]><td class="table-title">Weapon Type</td><td>[@type]</td></tr>
        <tr [@showdesigner]><td class="table-title">Origin & Designer</td><td>[@designer]</td></tr>
        <tr [@shownumbers]><td class="table-title">Numbers Produced</td><td>[@numbers_produced]</td></tr>
        <tr [@showcrew]><td class="table-title">Crew</td><td>[@crew]</td></tr>
        <tr [@showcalibre]><td class="table-title">Calibre</td><td>[@calibre]</td></tr>
        <tr [@showelevation]><td class="table-title">Elevation</td><td>[@elevation]</td></tr>
        <tr [@showguntraverse]><td class="table-title">Traverse</td><td>[@gun_traverse]</td></tr>
        <tr [@showcartridgeweight]><td class="table-title">Cartridge Weight</td><td>[@cartridge_weight]</td></tr>
        <tr [@showroundweight]><td class="table-title">Round Weight</td><td>[@round_weight]</td></tr>
        <tr [@showbarrel]><td class="table-title">Barrel Length</td><td>[@barrel_length]</td></tr>
        <tr [@showlength]><td class="table-title">Overall Length</td><td>[@length]</td></tr>
        <tr [@showgrenades]><td class="table-title">Grenade Types</td><td>[@grenade_types]</td></tr>
        <tr [@showmount]><td class="table-title">Mount</td><td>[@mount]</td></tr>
        <tr [@showweight]><td class="table-title">Combat Weight</td><td>[@weight]</td></tr> 
	<tr [@showoperation]><td class="table-title">Operation</td><td>[@operation]</td></tr>
        <tr [@showcooling]><td class="table-title">Cooling System</td><td>[@cooling]</td></tr>
	<tr [@showsight]><td class="table-title">Sights</td><td>[@sights]</td></tr>
        <tr [@showfeed]><td class="table-title">Feed</td><td>[@feed]</td></tr>
	<tr [@showpracticalratefire]><td class="table-title">Practical Rate of Fire</td><td>[@practical_rate_of_fire]</td></tr>
        <tr [@showmaxratefire]><td class="table-title">Maximum Rate of Fire</td><td>[@maximum_rate_of_fire]</td></tr>
	<tr [@showblank]><td class="table-title">Blank Cartridge</td><td>[@blank_cartridge]</td></tr>
        <tr [@showvelocity]><td class="table-title">Muzzle Velocity</td><td>[@muzzle_velocity]</td></tr>
        <tr [@showfuel]><td class="table-title">Fuel Capacity</td><td>[@fuel_capacity]</td></tr>
	<tr [@showminrange]><td class="table-title">Minimum Range</td><td>[@minimum_range]</td></tr>
        <tr [@showrange]><td class="table-title">Effective Range</td><td>[@effective_range]</td></tr>
	<tr [@showmaxrange]><td class="table-title">Maximum Range</td><td>[@maximum_range]</td></tr>
        <tr [@showarmourpenetration]><td class="table-title">Armour Penetration</td><td>[@armour_penetration]</td></tr>
        <tr [@showbayonet]><td class="table-title">Bayonet</td><td>[@bayonet]</td></tr>
        <tr [@showtraction]><td class="table-title">Traction</td><td>[@traction]</td></tr>
        <tr [@showvariants]><td class="table-title">Variants</td><td>[@variants]</td></tr>
	<tr [@shownotes]><td class="table-title">Notes</td><td>[@notes]</td></tr>
    </table>
</div>