<div class="table-responsive">
    <table class="table">
        <tr [@showyear]><td class="table-title">Year</td><td>[@year]</td></tr>
        <tr [@showtype]><td class="table-title">Vehicle Type</td><td>[@type]</td></tr>
        <tr [@showdesigner]><td class="table-title">Origin & Designer</td><td>[@designer]</td></tr>
        <tr [@shownumbers]><td class="table-title">Numbers Produced</td><td>[@numbers_produced]</td></tr>
        <tr [@showcrew]><td class="table-title">Crew</td><td>[@crew]</td></tr>
        <tr [@showarmament]><td class="table-title">Armament</td><td>[@main_armament]</td></tr>
        <tr [@showammunition]><td class="table-title">Ammunition Carried</td><td>[@ammunition_carried]</td></tr>
        <tr [@showpayload]><td class="table-title">Pay Load</td><td>[@pay_load]</td></tr>
        <tr [@showtowedload]><td class="table-title">Towed Load</td><td>[@towed_load]</td></tr>
        <tr [@showweight]><td class="table-title">Weight</td><td>[@weight]</td></tr>
        <tr [@showheight]><td class="table-title">Height</td><td>[@height]</td></tr>
        <tr [@showwidth]><td class="table-title">Width</td><td>[@width]</td></tr>
        <tr [@showlength]><td class="table-title">Length</td><td>[@length]</td></tr>
        <tr [@showground]><td class="table-title">Ground Clearance</td><td>[@ground_clearance]</td></tr>
        <tr [@showfording]><td class="table-title">Fording Depth</td><td>[@fording_depth]</td></tr>
        <tr [@showobstacle]><td class="table-title">Obstacle Clearance</td><td>[@obstacle_clearance]</td></tr>
        <tr [@showclimbing]><td class="table-title">Climbing Ability</td><td>[@climbing_ability]</td></tr>
        <tr [@showcargocapacity]><td class="table-title">Cargo Capacity</td><td>[@cargo_capacity]</td></tr>
        <tr [@showtowcapacity]><td class="table-title">Tow Capacity</td><td>[@tow_capacity]</td></tr>
        <tr [@showradio]><td class="table-title">Radio</td><td>[@radio]</td></tr>
        <tr [@showarmour]><td class="table-title">Armour</td><td>[@armour]</td></tr>
        <tr [@showengine]><td class="table-title">Engine</td><td>[@engine]</td></tr>
        <tr [@showtransmission]><td class="table-title">Transmission</td><td>[@transmission]</td></tr>
        <tr [@showmaxrange]><td class="table-title">Maximum Road Range</td><td>[@maximum_road_range]</td></tr>
        <tr [@showmaxcrosscountryrange]><td class="table-title">Maximum Cross Country Range</td><td>[@maximum_cross_country_range]</td></tr>
        <tr [@showmaxspeed]><td class="table-title">Maximum Road Speed</td><td>[@maximum_road_speed]</td></tr>
        <tr [@showmaxspeedtrailer]><td class="table-title">Maximum Road Speed + Trailer</td><td>[@maximum_road_speed_trailer]</td></tr>
        <tr [@showmaxcrosscountry]><td class="table-title">Maximum Cross Country Speed</td><td>[@maximum_cross_country_speed]</td></tr>
        <tr [@showmaxroadtowingspeed]><td class="table-title">Maximum Road Towing Speed</td><td>[@maximum_road_towing_speed]</td></tr>
        <tr [@showvariants]><td class="table-title">Variants</td><td>[@variants]</td></tr>
        <tr [@shownotes]><td class="table-title">Notes</td><td>[@notes]</td></tr>
    </table>
</div>